<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Loja Plus - Perfil do Produto </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item>
      <img src="assets/box.jpg" alt="" />
    </ion-item>

    <ion-item>
      <ion-label>Nome: {{produto.nome}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Descricao: {{produto.descricao}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Disponiveis: {{produto.quantidade}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="danger"><b>Valor: {{produto.valor |  currency:'BRL' }}</b></ion-label>
    </ion-item>
  </ion-list>

</ion-content>