<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title slot="start">
            Loja Plus
        </ion-title>
        <ion-title slot="end">
            <ion-chip routerLink="/tabs/login" *ngIf="auth.user | async as user">
                <ion-avatar>
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label>
                    Usuario {{user}}
                </ion-label>
            </ion-chip>
        </ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-header>
    <ion-toolbar color="">
      <ion-title slot="start">
        <img src="assets/img/logoTop.jpg" alt="logo" routerLink="/">
      </ion-title>

      <ion-title slot="end">
        <ion-chip color="" routerLink="/tabs/login" *ngIf="!usuario">
          <ion-avatar class="icone">
            <img [src]="perfilfoto" />
          </ion-avatar>
          <ion-label>Usuário</ion-label>
        </ion-chip>

        <ion-chip color="" routerLink="/tabs/user-perfil/{{usuario.key}}" *ngIf="usuario">
          <ion-avatar class="icone">
            <img [src]="perfilfoto" />
          </ion-avatar>
          <ion-label>{{usuario.email}}</ion-label>
        </ion-chip>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Início</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>Conteúdos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="square"></ion-icon>
            <ion-label>Localização</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>